@media screen and (max-width: 991px)
  .section
    &__title
      font-size: 30px
      line-height: 32px
  .button
    font-size: 18px
    max-width: 206px
  .container
    max-width: 800px
    //settings

  .modal
    &-second
      .modal
        &__header
          text-align: center
        &__dialog
          max-width: 400px
        &__tel
          font-size: 24px
          line-height: 26px
          margin-bottom: 30px

    &__select
      padding: 20px
      &__arrow
        right: 10px
    &__input
      padding: 20px
    &__title
      font-size: 30px
      line-height: 32px
      margin-bottom: 30px
    &__header
      font-size: 22px
      line-height: 24px
      margin-bottom: 16px
    &__row
      margin-bottom: 30px
      gap: 14px
    &__close
      width: 48px
      height: 48px
      top: -9px
    &__dialog
      max-width: 400px
      padding: 55px 20px
    &__row
      grid-template-columns: 1fr

  .footer
    padding: 55px 20px
    .header
      &__button
        display: block
        width: 230px

  .platform
    padding: 70px 20px 80px
    &__title
      max-width: 435px
      min-width: 435px
    &__row
      gap: 30px

  .expert
    &__title
      font-size: 46px
      line-height: 44px
      margin-bottom: 30px
    &__text
      font-size: 28px
      line-height: 36px

  .personal
    padding: 70px 20px 100px
    &__container
      max-width: 700px
    &__title
      margin-bottom: 40px
    &__card
      flex-direction: column
      align-items: center
      gap: 30px
      padding: 40px 20px 50px
      margin-bottom: 25px
      &--last
        margin-bottom: 0
      &__box
        gap: 30px
      &__button
        margin: auto
      &__row
        gap: 25px
      &__title
        font-size: 27px
        line-height: 30px
        text-align: center
        margin-bottom: 25px
      &__box
        padding: 0
      &__img
        width: auto
        height: auto
        min-width: 0
        object-fit: none

  .look
    overflow: hidden
    padding: 80px 20px
    &__ball
      top: 110px
      right: -30px
      left: auto
    &__title
      margin-bottom: 45px
    &__row
      margin-bottom: 35px
      gap: 30px
      grid-template-columns: repeat(2, 1fr)
    &__card
      &__num
        font-size: 15px
        line-height: 17px
      &__title
        font-size: 22px
        line-height: 24px
        margin-bottom: 15px
        padding-top: 5px
      &__text
        font-size: 17px
        line-height: 19px

  .uniq
    padding: 55px 20px 70px 0
    &__row
      gap: 20px
    &__img
      width: 360px
      min-width: 360px
    &__title
      margin-bottom: 20px
    &__subtitle
      font-size: 22px
      line-height: 24px
      margin-bottom: 30px
    &__header
      font-size: 18px
      line-height: 20px

  .whom
    &__title
      margin-bottom: 40px

  .main
    background: url("../img/main/man.webp") no-repeat calc(50% + 250px) bottom/330px, url("../img/main/bg.webp") no-repeat center/cover
    padding: 126px 20px
    overflow: hidden
    &__img
      &--1
        top: 70px
      &--2
        right: -30px
    &__button
      &--2
        max-width: 240px
    &__title
      font-size: 47px
      line-height: 51px

  .header
    margin-bottom: -61px
    &__box
      gap: 24px
    &__nav
      display: none
    &__button
      display: none
    &__burger
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: flex-end
      width: 32px
      height: 23px
      &__line
        height: 3px
        border-radius: 2px 0 0 2px
        background: #c6c6c6
        &--1
          width: 24px
        &--2
          width: 100%
        &--3
          width: 17px